@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
body {
    background: url(../images/background.svg);
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Cabin', sans-serif !important;
 
}